<!DOCTYPE HTML>

<!--   
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         佛祖保佑       永无BUG   
 -->


{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
<html>
<head>
	<meta charset="utf-8" />
	{% block meta %}<!-- block meta  -->{% endblock %}
	<title>{% block title %} ? {% endblock %} -周翔的个人博客</title>
	<link rel="stylesheet" href="/static/css/uikit.min.css"/>
	<link rel="stylesheet" href="/static/css/awesome.css"/>
	<link rel="stylesheet" href="/static/css/editormd.css"/>
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/sticky.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
	<script src="/static/js/editormd.js"></script>
	
	<!-- Codemirror 和 marked 依赖 -->
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/codemirror/addon/mode/overlay.js"></script>
    <script src="/static/codemirror/mode/xml/xml.js"></script>
    <script src="/static/codemirror/mode/gfm/gfm.js"></script>
    <script src="/static/js/marked.min.js"></script>
	<script src="/static/js/commommark.js"></script>

    <!-- HTML 编辑器的 CSS 与 JavaScript -->
    <link rel="stylesheet" href="/static/css/htmleditor.css">
    <script src="/static/js/htmleditor.js"></script>
	
	{% block beforehead %}<!--beforehead-->{% endblock %}
</head>
<body>
	<nav class="uk-navbar uk-navbar-attached uk-margin-bottom uk-width-1-1">
		<div class="uk-container uk-container-center ">
			<a href="/" class="uk-navbar-brand uk-visible-large">周翔的个人博客</a>
			<ul class="uk-navbar-nav ">
				{% block section %}<!--section-->{% endblock %}
			</ul>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav">
				{% if __user__ %}
					<li class="uk-parent" data-uk-dropdown>
						<a href="#0"><i class="uk-icon-user"></i>{{__user__.name}}</a>
						<div class="uk-dropdown uk-dropdown-navbar">
							<ul class="uk-nav uk-nav-navbar">
								<li><a href="/signout"><i class="uk-icon-sign-out"></i>登出</a></li>
							</ul>
						</div>
					</li>
				{% else %}
					<li><a href="/signin"><i class="uk-icon-sign-in"></i>登陆</a></li>
					<li><a href="/register"><i class="uk-icon-edit"></i>注册</a></li>
				{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

	<div class="uk-margin-large-top" style="background-color:#eee;border-top:1px solid #cc;">
		<div class="uk-container uk-container-center uk-text-center">
			<div class="uk=panel uk-margin-top uk-margin-bottom">
				<p>Powered by<a href="#"> 周翔的个人博客 </a>.Copyrite &copy;2016.[<a href="/manage/blogs" target="blank">Manage</a>]</p>
				<p><a href="#" target="_blank">www.zx.com</a>.ALL rights reserved.</p>
				<a target="blank" href="#"><i class="uk-icon-html5" style="font-size:64px;color:#444;"></i></a>
			</div>
		</div>
	</div>
</body>
</html>		