{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}


{% endblock %}

{% block section %}
	<li class="uk-active"><a href="/"><i class="uk-icon-home"></i>日志</a></li>
	<li><a href="/manage/blogs"><i class="uk-icon-wrench"></i>管理</a></li>
{% endblock %}

{% block content %}
	<div class="uk-width-medium-3-4">
		{% for blog in blogs %}
			<article class="uk-article">
				<h2><a href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
				<p class="uk-article-meta">发表于{{blog.created_at|datetime}}</p>
				<p>{{blog.summary}}</p>
				<div class="uk-navbar-flip ">
					<a href="/blog/{{blog.id}}">继续阅读 <i class="uk-icon-angle-double-right"></i></a>
				</div>
				<div class="uk-navbar-nav ">
					<i class="uk-icon-comments-o uk-article-meta"> 评论数 {{blog.comment_count}}</i>
				</div>
			</article>
			<hr class="uk-article-divider">
		{% endfor %}
		{{ pagination('/?page=', page) }}
		<a href="/manage/blogs/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i>发表新日志</a>
	</div>

	<div class="uk-width-medium-1-4">
		<div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ __user__.image  }}">
                <h3>{{ __user__.name }}</h3>
				<h3>欢迎来到我的个人博客</h3>
            </div>
        </div>
		<div class="uk-panel uk-panel-header">
			<h3 class="uk-panel-title">友情链接</h3>
			<ul class="uk-list uk-list-line">
				<li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.getuikit.net/">UIKit</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
