{% extends '__bs_base__.html' %}
{% block title %}日志{% endblock %}
{% block css %}
<style type="text/css">
</style>
{% endblock %}	

    {% block navbar %}
    <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
    <li><a href="/bs/blogs"><span class="glyphicon glyphicon-book"></span> 日志</a></li>
    {% if __user__.admin %}
    <li class="active"><a href="/bs/manage/blogs"><span class="glyphicon glyphicon-wrench"></span> 管理</a></li>
    {% endif %}
    <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> 关于</a></li>
    {% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px">
	<div style="padding: 10px;"></div>
  <div class="panel">
    <div class="panel-heading">
       <ul class="breadcrumb">
        <li><a href="/bs/manage/comments">评论</a></li>
        <li><a href="/bs/manage/blogs"><span>日志</span></a></li>
        <li class="active"><a>用户</a></li>
       </ul>
    </div>
    <div class="panel-body">
      <div id="error">
    </div>

    <div id="loading">
        <span class="glyphicon glyphicon-refresh"> 正在加载...</span>
    </div>
        <div id="vm">

        <table class="table table-hover table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" >
                    <td>
                        <span v-text="user.name"></span>
                    </td>   
                    <td>
                        <span v-text="user.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on:click="delete_user(user)"><i class="glyphicon glyphicon-trash"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <bs-pagination v-bind:page="page"></bs-pagination>
    </div>
    </div>
  </div>
	</div>
</div>

<script>
if (typeof(Vue)!=='undefined') {
    Vue.filter('datetime', function (value) {
        var d = value;
        if (typeof(value)==='number') {
            d = new Date(value);
        }
        return d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes();
    });
    Vue.component('bs-pagination', {
        props: ['page'],
        template: '<ul class="pagination">' +
                '<li v-if="page.page_index === 1" class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>' +
                '<li v-if="page.page_index !== 1"><a v-bind:onclick="\'gotoPage(\' + (page.page_index-1) + \')\'" href="#0" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>' + 

                '<template class="pagination" style="display: inline;float: left;" v-for="i in page.totalPage">'+
                '<li v-if="i===page.page_index" class="active"><span v-text="i"></span></li>'+
                '<li v-if="i!==page.page_index"><a v-bind:onclick="\'gotoPage(\' + (i) + \')\'" href="#0"><span v-text="i"></span></a></li>'+
                '</template>' + 

                '<li v-if="page.page_index === page.totalPage" class="disabled"><a aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>' +
                '<li v-if="page.page_index !== page.totalPage"><a v-bind:onclick="\'gotoPage(\' + (page.page_index+1) + \')\'" href="#0" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>' + 
            '</ul>',
    });
}
function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page
        },
        methods: {
            delete_user: function (user) {
                if (confirm('确认要删除“' + user.name + '”？删除后不可恢复！')) {
                    postJSON('/api/users/' + user.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
}
$(function() {
    getJSON('/api/users', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}