<html>
	<head>
		<title>首页</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/uikit.min.css"/>
		<link rel="stylesheet" href="/static/css/awesome.css"/>
		<link rel="stylesheet" href="/static/css/editormd.css"/>
		<link rel="stylesheet" href="/static/css/mystyle.css"/>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/sha1.min.js"></script>
		<script src="/static/js/uikit.min.js"></script>
		<script src="/static/js/sticky.min.js"></script>
		<script src="/static/js/vue.min.js"></script>
		<script src="/static/js/awesome.js"></script>
		<script src="/static/js/editormd.js"></script>
		
		<script>
			function getURL(data){
				$(".uk-cover-background").css('background-image','url('+data.url+')')
			}
			function setBgPic() {
				var
					js = document.createElement('script'),
					head =  $('head')[0];
				js.src = 'http://zhouxiang.net.cn/api/get_bing_photo/getURL';
				head.appendChild(js);
			}
			function setWidth(e,v){
				alert(e+' : '+v)
				$(e).css('width',v);
			}
			$(function(){
				setWidth('.indexleft',$(window).width()*0.25);
				setWidth('.indexright',$(window).width()*0.70);
				setBgPic();
			})
		</script>
		<style>
		
		</style>
	</head>
	
	<body>
        <div class="indexleft">
			<div class="uk-panel uk-panel-box">
				<div class="uk-text-center">
					<img class="uk-border-circle uk-animation-scale-up" width="120" height="120" src="/static/img/zx.png">
					<p>
						<a target="_blank" href="http://weibo.com/5327578848/profile?topnav=1&wvr=6&is_all=1" class="uk-icon-button uk-icon-weibo"></a>
						<a target="_blank" href="http://github.com/ZhouXiangLW/zx-python-webapp" class="uk-icon-button uk-icon-github"></a>
					</p>
					<h3>欢迎来到我的个人博客</h3>
				</div>
			</div>
		</div>
			
		<div class="indexright">
			<div class="uk-cover-background">
			</div>
		</div>
	</body>
</html>